{% extends "layouts/base.html" %}
{% load static %}




       {% block content %}






                {% include "layouts/question.html"  %}
              <hr>

                  {% include "layouts/answer.html" %}

                <form>
                                <div class="form-floating border w-100 mb-3">
                                  <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                                  <label for="floatingTextarea2">Enter your answer or comments here</label>
                                </div>

                </form>

                                <div class="col ">
                                  <button type="button" class="btn btn-outline-success">Answer</button>
                                </div>


{% endblock %}





      
    

